$primary-blue1: #24388d;
$primary-blue2: #5b6aa9;
$primary-blue3: #919bc6;
$primary-blue4: #c8cde2;
$secondary-lightblue1: #bae5fb;
$secondary-lightblue2: #cbebfc;
$secondary-lightblue3: #dcf2fd;
$secondary-lightblue4: #eef8fe;
$secondary-violet1: #31287c;
$secondary-violet2: #645e9d;
$secondary-violet3: #9893bd;
$secondary-violet4: #cbc9de;
$accent-amber1: #d2c9b6;
$accent-amber2: #ddd6c8;
$accent-amber3: #e8e4da;
$accent-amber4: #f4f1ed;
$accent-cream1: #f4ca54;
$accent-cream2: #f7d77f;
$accent-cream3: #f9e4a9;
$accent-cream4: #fcf2d4;
$grayscale-white: #fefefe;
$grayscale-snow: #f5f5f5;
$grayscale-lightgray: #878787;
$grayscale-gray: #616161;
$grayscale-darkgray: #14182c;
$grayscale-black: #0f0f0f;
$gradient-blue: linear-gradient(137.4deg, #263283 3.86%, #102457 100%);
$gradient-cream: linear-gradient(222.97deg, #fcf2d4 0%, #f4ca54 96.7%);
$gradient-lightblue: linear-gradient(139.57deg, #eef8fe 2.58%, #bae5fb 93.13%);
$border-iceberg: #d1eff1;
$border-casablanca: #f6b45a;
$border-tumble: #dab57e;
