//헤더
@use './../utils' as *;
@use './../components' as *;

.appHeader {
	@include flexbox(column);
	@include paddingX(24);
	@include paddingY(16);

	@include mobile {
		position: relative;
		background-color: $primary-color;
	}

	@include desktop {
		position: relative;
		background: $white;
		@include boxSizeMax;
		background: $yellow;
	}

	.buttonWrapper {
		@include mobile {
			@include pos($t: 52px, $r: 20px);
			padding: rem(4);
		}

		@include desktop {
			display: none;
		}
	}
}

//로고
.logo {
	@include desktop {
		@include posCenterY;
	}
	&__link {
		display: block;
		$w: rem(204);
		$h: rem(59);
		width: $w;
		height: $h;
		@include bgRetina('webcafe-logo', 'png');
	}
}

.memberOnly {
	@include flexbox($j: flex-end, $a: center);
	@include mobile {
		order: -1;
		color: $white;
		@include textStyle(14);
	}
}

// 검색창

.searchForm {
	margin-top: rem(16);
	&__group {
		@include flexbox($j: flex-end);
	}
	.formInput {
		@include mobile {
			flex-grow: 1;
		}
		@include desktop {
			width: rem(400);
		}

		&__input {
			width: 100%;
		}
	}

	.button--primary {
		margin-left: rem(16);
	}
}

//앱 네비게이션

.menu {
	padding: rem(40);

	@include mobile {
		@include pos(fixed, $t: 0, $l: 0);
		background-color: rgba($orange, 0.85);
		width: 70vw;
		height: 100vh;
		backdrop-filter: blur(2px);
		transform: translateX(-150%);
		transition: all 400ms;
	}

	@include desktop {
		background-color: $secondary-color;
	}

	&__list {
		@include desktop {
			@include flexbox($j: space-between, $a: center);
			@include autoMargin;
			max-width: $container-width;
		}
	}

	&__item {
		@include mobile {
			display: block;
			width: 100%;
			margin-top: rem(10);
			border-bottom: 1px solid $silver;
		}
	}

	&__link {
		@include mobile {
			font-weight: 500;
			display: block;
			width: 100%;
			padding: rem(8) 0;
		}
		@include desktop {
			color: $white;
			padding: rem(16) rem(24);
		}
	}
	&.is--active {
		transform: translateX(0%);
	}
}
